extends layouts/main.pug

block content
    section.wrapper
        .wrapper__col1
        .wrapper__col2
            .wrapper__col2__left 
            .wrapper__col2__main
                .wrapper__col2__main__top.mt
                    .wrapper__col2__main__top__img
                    .wrapper__col2__main__top__txt.mainDesc
                        h3.mainDesc__title
                            span.mainDesc__title__unmber 01
                            span.mainDesc__title__txt 세-꼬마깁밥 카페
                        p.mainDesc__content content1
                        p.mainDesc__content content2
                .wrapper__col2__main__bottom.mb
                    .wrapper__col2__main__bottom__txt.mainDesc
                        h3.mainDesc__title
                            span.mainDesc__title__unmber 02
                            span.mainDesc__title__txt 세-꼬마깁밥 카페
                        p.mainDesc__content content1
                        p.mainDesc__content content2
                    .wrapper__col2__main__bottom__img

            .wrapper__col2__right 
        .wrapper__col3
            .wrapper__col3__left 
            .wrapper__col3__main.cm3
                .wrapper__col3__main__box1
                .wrapper__col3__main__box2
                .wrapper__col3__main__box3
            .wrapper__col3__right 