mixin nav(nav ={})
    ul.menus
        li.menus__menu 
            a(href="/") HOME
        li.menus__menu 
            a(href="/intro") INTRO
        li.menus__menu 
            a(href="/about") ABOUT